.sideBar {
  background-color: black;
  width: 30vw;
  height: max-content;
  border-radius: 10px;
  margin: 10px;
}

.sideNav .navItem {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .sideBar {
    width: 90vw;
  }
}
